.scroll-up1,
.scroll-down1 {
    width: 16px;
    height: 16px;
}

.scroll-up1 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO5JREFUeNpiPHHjPgMQuABxBxAbMxAHzgJxBRDvYQES7kC8g4E0ALJoNxB7MAGJCQzkgwkgAzQoMECDCZ/s9UsXwBgfYMElcfPKJYaHd2+D2UxMTAzqOnpY1WF1wZ0b1xju374J54PYIDGiDAArvn4VzGZmZgZjsKFAMWRDsRoAcjLI6TBnG5pbgTGIje4trAZ8/vgRrtnAzJJBRFwCjEFsmCEwNVgDUdvQmOH///9gTWKSUnBxEFvX2IzhzcsXYDXIgBGYlP9TkA4YmBgoBCADblCg/wbIgAIKDCgBGbATiP2B+BIJGi9B9WwFCDAAkJtNW5WLn3YAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}
.scroll-down1 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNpiPHHjPgMQuABxBxAbMxAHzgJxBRDvYQES7kC8g4E0ALJoNxB7MAGJCQzkgwkgAzQoMECDiYFCgGHA5bOnGV48fYKhECR25dwZDHEWZA5IwdNHDxieP3nEwMTExCAmKQUWf/X8GcOlMycZ/v37B+brGJlgdwEvPz+YBim8cOo4w9tXL8EYxIZphqnB6gJ5ZVWwwptXLoHpcyeOwg0EAXUdPbAavGGgqKrOoKKhBWb//fsXjEEAJAaSIxiIYMWa2iiKwYYCxbABFlzRA3IuzHYQGxdgwRfHWvqGRKWDGxSkoxsgAwooMKAEZMBOIPYH4kskaLwE1bMVIMAAvuxYLKpBcNsAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}
.track1 {
    width: 8px;
    margin: 5px 0 5px 4px;
    height: 211px !important;
    background-color: #c8d8df;
}
.track1 a.handle1 {
    height: 81px !important;
}
.handle1 {
    width: 8px;
    height: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAABRCAYAAADvjue0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPpJREFUeNpitNqzhgEIXIC4A4iNGSDgLBBXAPEeJiDhzsXDt9tBRtmYT0CEgZWNg0GOg8f4968fu0FyIAUT7EQkGa78/gnWqs3Dz3DvyzuGXz+/g7gTQAo0zv/+BZY04OJluPrlI5gtxycCojSYoHYymHBwM1z49hnMVuUVZnj48TWYDVZgzsHFcObHV7gVtz+/hemDKDj54xuGFfL8oggFo1aMWjFqxagVo1aMWjFqxagVo1Zgs+LGcahOZCtkIVbcACko+Pr5A4MuKzvcCiUeIYZXP8EmloAU7Pz25ZP//id3L3368IYB2ExkePTjyyVgs9EfKLcVIMAA/6H7cbCiIEUAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}
.handle1:hover {
    width: 8px;
    height: 81px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAABRCAYAAADvjue0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPpJREFUeNpitNqzhgEIXIC4A4iNGSDgLBBXAPEeJiDhzsXDt9tBRtmYT0CEgZWNg0GOg8f4968fu0FyIAUT7EQkGa78/gnWqs3Dz3DvyzuGXz+/g7gTQAo0zv/+BZY04OJluPrlI5gtxycCojSYoHYymHBwM1z49hnMVuUVZnj48TWYDVZgzsHFcObHV7gVtz+/hemDKDj54xuGFfL8oggFo1aMWjFqxagVo1aMWjFqxagVo1Zgs+LGcahOZCtkIVbcACko+Pr5A4MuKzvcCiUeIYZXP8EmloAU7Pz25ZP//id3L3368IYB2ExkePTjyyVgs9EfKLcVIMAA/6H7cbCiIEUAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}

.handle1 .top,
.handle1 .bottom {;
}

.handle1 .top {
    top: 0;
}
.handle1:hover .top {
    background-position: -17px 0;
}

.handle1 .bottom {
    bottom: 0;
    width: 17px;
    height: 10px;
    background-position: 0 bottom;
}
.handle1:hover .bottom {
    background-position: -17px bottom;
}
